*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.header{
    width: 100%;
    height: auto;
}

.header .header-top{
    background-color: #555555;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 18%;
}

.header .header-top .header-top-nav{
    display: flex;
    align-items: center;
    gap: 20px;
}
.header .header-top .header-top-nav a{
    color: #fff;
    padding: 12px 8px;
    cursor: pointer;
    font-weight: 100;
    transition: all 0.2s ease-in-out;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 14px;
}
.header .header-top .header-top-nav a:hover{
    background-color: #6F6F6F;
}

.header .header-top .header-top-nav ul{
    display: flex;
    align-items: center;
    list-style: none;  
}

.header .header-select{
    background-color: transparent;
    cursor: pointer;
}