*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.container{
    width: 64%;
    max-width: 1600px;
    margin: auto;
}




/* Header Style */
.header{
    width: 100%;
    height: auto;
}

.header .header-top {
    background-color: #555555;
}

.header .header-top .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 0;
    font-weight: 100;
    font-size: 14px;
}

.header .header-top .header-top-nav{
    display: flex;
    align-items: center;
    gap: 20px;
}

.header .header-top .header-top-nav a{
    color: #fff;
    padding: 12px 8px;
    cursor: pointer;
    transition: all 0.15s ease-in;
}

.header .header-top .header-top-nav a:hover{
    background-color: #6F6F6F;
}

.header .header-top .header-top-nav ul{
    display: flex;
    align-items: center;
    list-style: none;  
}

.header .header-top .header-select{
    position: relative;
    transition: all 0.15s ease-in;
}

.header .header-top .header-select p{
    color: #fff;
    padding: 12px 0;
    width: 95px;
    cursor: default;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.header .header-top .header-select p i{
    font-size: 9px;
}

.header .header-top .header-select:hover{
    background-color: #6F6F6F;
}

.header .header-top .header-select:hover ul{
    display: block;
}

.header .header-top .header-select ul{
    position: absolute;
    background-color:  #6F6F6F;
    list-style: none;
    width: 95px;
    display: none;
}

.header .header-top .header-select ul li{
    width: 100%;
    padding: 8px;
}

.header .header-top .header-select ul li a{
    color: #fff;
    text-decoration: none;
}

.header .header-top .header-select ul li:hover{
    background-color: #aaa;
}

.header .header-top .header-select ul li:hover a{
    color: #333;
}

/* --- */
.header .header-bottom{
    background-color: #f8cb1c;
}

.header .header-bottom .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.header .header-bottom .logo{
    font-size: 52px;
    font-weight: 700;
    color: #333;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, sans-serif;
}

.header .header-bottom .logo .lang-buttons{
    display: none;
}

.header .header-bottom .hb-nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.header .header-bottom .hb-nav nav{
    display: flex;
    align-items: center;
    gap: 30px;
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 17px;
    font-weight: bold;
}

.header .header-bottom .hb-nav nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
    height: 74px;
    align-items: center;
}

.header .header-bottom .hb-nav nav ul li{
    height: 100%;
}

.header .header-bottom .hb-nav nav ul li a{
    height: 100%;
    padding: 0 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #333;
    font-weight: 600;
    transition: all 0.15s ease-in;
}

.hb-active{
    background-color: #f9d54b;
    text-decoration: none;
}

.header .header-bottom .hb-nav nav ul li a:not(.hb-active):hover{
    background-color: #ffdf80;
}

.header .header-bottom .hb-nav nav button{
    font-family: "PT Sans Narrow", sans-serif;
    cursor: pointer;
    font-size: 17px;
    padding: 14px 22px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    color: #555555;
    transition: all 0.15s ease-in-out;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.header .header-bottom .hb-nav nav button:hover{
    background-color: #f9f3d9;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}


/*  */
.header .hd-search-menu{
    background-color: #f9d54b;
    max-height: 700px;        
}

.header .hd-search-menu .container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
}

.header .hd-search-menu .container .search-selects{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px;
}

.header .hd-search-menu .container .search-selects .slcs{
    width: 32%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.header .hd-search-menu .container .search-selects .slcs label{
    color: rgb(85, 85, 85);
    display: block;
    font-size: 14px;
    font-weight: bold;
}

.header .hd-search-menu .container .search-selects .slcs select, input{
    height: 40px;
    padding: 0 15px;
    border: 1px solid #8a8a8a;
    border-radius: 4px;
    box-sizing: border-box;
    color: #555;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    outline: none;
    transition: all 0.15s ease-in-out;
}

.header .hd-search-menu .container .search-selects .slcs select:focus,
.header .hd-search-menu .container .search-selects .slcs input:focus{
    background-color: #f9f3d9;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.header .hd-search-menu .container button{
    font-family: "PT Sans Narrow", sans-serif;
    cursor: pointer;
    font-size: 14px;
    margin: auto;
    width: 90px;
    height: 36px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    color: #555555;
    transition: all 0.15s ease-in-out;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.header .hd-search-menu .container button:hover{
    background-color: #f9f3d9;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.header .header-category-mobile{
    display: none;
}

/*  */
.header .other-sites{
    width: 100%;
    position: fixed;
    top: -100%;         
    left: 0;
    z-index: 1000;
    transition: all 1s ease-in-out;
    display: flex;  
    align-items: center;
    border-bottom: 1px solid #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.header .other-sites.other-active{
    top: 0;
}

.header .other-sites a{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #fff;
    width: 33.3%;
    height: 54px;
    font-weight: bold;
    text-decoration: none;
    font-size: 16px;
}

.header .other-sites .other1{
    background-color: #c71b25;
}

.header .other-sites .other2{
    background-color: #fb5a25;
}

.header .other-sites .other3{
    background-color: #6d2e00;
}



/* Search Result Style */
.src-result{
    background-color: #F4F4F4;
    padding: 40px 0;
}
.src-result .container{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.src-result .container .result-title{
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: default;
    font-family: "PT Sans Narrow", sans-serif;
    letter-spacing: 0px;
}
.src-result .container .result-title h2{
    font-size: 26px;
    font-weight: bold;
    line-height: 30px;
    color: #333;
}   
.src-result .container .result-title .rst-p{
    font-size: 25px;
    font-weight: bold;
    line-height: 30px;
    color: #979797;
}
.src-result .container .result-cards-cont{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}
.src-result .container .result-cards-cont .result-card{
    width: 48%;
    padding: 20px 30px;
    border-radius: 6px;
    text-decoration: none;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transition: all 0.2s;
}
.src-result .container .result-cards-cont .result-card:hover{
   box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.src-result .container .result-cards-cont .result-card .result-card-title{
    color: #eab121;
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0.5px;
    line-height: 30px;
    margin-bottom: 5px;
}
.src-result .container .result-cards-cont .result-card .result-card-company{
    color: #666;
    font-size: 15px;
    font-weight: bold;
}
.src-result .container .result-cards-cont .result-card .result-card-btns{
    display: flex;
    align-items: center;
    height: auto;
    margin: 20px 0;
}
.src-result .container .result-cards-cont .result-card .result-card-btns .result-card-salary{
    border-radius: 6px;
    color: #555;
    background-color: #f8cb1c;
    border-radius: 4px;
    color: #333;
    display: inline-block;
    font-weight: bold;
    padding: 6px 12px;
    z-index: 1;
}
.src-result .container .result-cards-cont .result-card .result-card-btns .result-card-info{
    padding: 6px 12px 6px 16px;
    text-decoration: underline;
     border-radius: 4px;
     border: 1px solid #ccc;
     color: #555;
     margin: -10px;
     transition: all 0.2s;
}
.src-result .container .result-cards-cont .result-card .result-card-btns .result-card-info:hover{
    background-color: #fef3d2;
}
.src-result .container .result-cards-cont .result-card .result-card-description{
    font-size: 15px;
    line-height: 1.6;
    color: #333;
    margin-bottom: 40px;
}
.src-result .container .result-cards-cont .result-card  .result-card-bottom{
    display: flex;
    align-items: center;
    gap: 10px;
}
.src-result .container .result-cards-cont .result-card  .result-card-bottom p{
        color: #979797;
}
.src-result .container .result-cards-cont .result-card  .result-card-bottom .circle{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #eab121;
}

/* Footer Style */
.footer{
    background-color: #555555;
    padding: 30px 0 60px 0;
    border-top: 3px solid #eab120;
}

.footer .container{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.footer .container .ftr-card{
    width: 27%;
    font-size: 16px;
}

.footer .container .ftr-about .mobile-info{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-bottom: 35px;
}

.footer .container .ftr-about .mobile-info .ftr-color{
    color: #eab120;
}

.footer .container .ftr-about .mobile-info li {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer .container .ftr-about .mobile-info li a{
    text-decoration: none;
    color: #ccc;
}

.footer .container .ftr-about .mobile-info li a:hover{
    text-decoration: underline;
}

.footer .container .ftr-about p{
    margin-bottom: 10px;
    color: #909090;
    line-height: 1.2;
    font-size: 13px
}

.footer .container .ftr-job{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer .container .ftr-job .ftr-job-title{
    color: #eab120;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.footer .container .ftr-job ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 14px;
}

.footer .container .ftr-job ul li a{
    color: #ccc;
    text-decoration: none;
}

.footer .container .ftr-job .ftr-job-title:hover,
.footer .container .ftr-job ul li a:hover{
    text-decoration: underline;
}




/* Responsive Desing */
@media screen and (max-width: 768px){
    .container{
        width: 70%;
    }
    .header .header-top, .header-category, .header-search, .hd-search-menu{
            display: none;
    }
    .header .header-bottom .container{
            display: flex;
            flex-direction: column;
            gap: 0;
            justify-content: center;
            align-items: start;
    }
    .header .header-bottom .container .logo{
            font-size: 36px;
            padding: 0 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            cursor: default;
    }
    .header .header-bottom .container .logo .lang-buttons{
        display: flex;
        align-items: center;
        gap: 6px;
        margin-top: 10px;
    }
    .header .header-bottom .container .logo .lang-buttons .lng-btn{
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid #333;
        width: 34px;
        height: 34px;
        background-color: transparent;
        border-radius: 4px;
        cursor: pointer;
    }
    .header .header-bottom .container .hb-nav{
            margin-top: 5px;
    }
    .header .header-bottom .container .hb-nav .nav2{
            display: none;
    }
    .header .header-bottom .container .hb-nav .nav1{
            width: 100%;
    }
    .header .header-bottom .container .hb-nav .nav1 ul{
            width: 100%;
            height: 50px;
    }
    .header .header-bottom .container .hb-nav .nav1 ul li{
            width: 50%;
    }
    .header .header-bottom .container .hb-nav .nav1 ul li a{
        padding: 10px 0;
    }
    .header .header-category-mobile{
        display: block;
    }
    .header .header-category-mobile .container{
        background-color: #f9d54b;
        font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    }
    .header .header-category-mobile .container .cat-mbl-btn{
        display: flex;
        padding: 12px 20px;
        justify-content: space-between;
        align-items: center;
        font-size: 18px;
        color: #333;
        font-weight: 600;
        caret-color: transparent; 
        user-select: none; 
        cursor: pointer;
    }
    .header .header-category-mobile .container .cat-mbl{
        display: none;
        flex-direction: column;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
    }
    .header .header-category-mobile .container .cat-mbl-active{
        display: block;
    }
    .header .header-category-mobile .container .cat-mbl .cat-mbl-card{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 20px;
        border-top: 1px solid #969696;
        text-decoration: none;
        cursor: pointer;
        transition: all 0.15s ease-in-out;
    }
    .header .header-category-mobile .container .cat-mbl .cat-mbl-card:hover{
        background-color: #f8cb1c;
    }
    .header .header-category-mobile .container .cat-mbl .cat-mbl-card .cat-text{
        width: 85%;
        display: flex;
        flex-direction: column;
        color: #333;
        gap: 8px;
    }
    .header .header-category-mobile .container .cat-mbl .cat-mbl-card .cat-text h3{
        font-size: 18px;
    }
    .header .header-category-mobile .container .cat-mbl .cat-mbl-card .cat-text p{
        font-size: 16px;
        font-weight: 300;
    }
    .header .header-category-mobile .container .cat-mbl .cat-mbl-card i{
        color: #555;
    }


    .src-result .container .result-cards-cont .result-card{
        width: 100%;
        padding: 20px 30px;
        border-radius: 6px;
        text-decoration: none;
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        transition: all 0.2s;
    }
    .src-result .container .result-title h2{
        font-size: 20px;
    }
     .src-result .container .result-title .rst-p{
        font-size: 18px;
     }

    .footer{
        padding: 20px 0;
    }
    .footer .container .ftr-card{
        width: 100%;
        font-size: 16px;
    }
    .footer .container .ftr-about .mobile-info{
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin-bottom: 35px;
        justify-content: space-between;
    }
    .footer .container .ftr-about .mobile-info .ftr-color{
        color: #ccc;
    }
    .footer .container .ftr-about .mobile-info li {
        display: flex;
        align-items: center;
        gap: 10px;
        width: 48%;
        display: flex;
        justify-content: center;
        text-align: center;
        margin: auto;
    }
    .footer .container .ftr-about .mobile-info li a{
        text-decoration: none;
        color: #ccc;
        font-size: 14px;
        text-align: center;
    }
    .footer .container .ftr-about p{
       text-align: center;
        font-size: 12px
    }
    .footer .container .ftr-job {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1000px){
    .container{
        width: 90%;
    }
    .header .header-category ul li{
        width: 48%;
    }
    .header .hd-search-menu .container .search-selects .slcs{
        width: 49%;
    }
     .header .header-top .container{
        font-size: 12px;
    }
    .header .header-top .header-top-nav{
        gap: 18px;
    }
    .header .header-top .header-select ul li{
        width: 100%;
        padding: 8px;
    }
    .header .header-bottom .container{
        gap: 30px;
    }
    .header .header-bottom .logo{
        font-size: 44px;
    }
    .header .header-bottom .hb-nav nav{
        gap: 30px;
        font-size: 14px;
    }
    .header .header-bottom .hb-nav nav ul{
        gap: 20px;
        height: 70px;
    }
    .header .header-bottom .hb-nav nav ul li a{
        height: 100%;
        padding: 0 16px;
    }
    .header .header-bottom .hb-nav nav button{
        font-size: 14px;
        padding: 14px 18px;
    }
    .header .header-category ul li span{
        width: 40px;
    }
    .header .header-category ul li a{
        font-size: 14px;
    }
    .header .hd-search-menu .container .search-selects .slcs label{
        font-size: 12px;
    }
    .header .hd-search-menu .container .search-selects .slcs select, input{
        height: 40px;
        padding: 0 15px;
        font-size: 14px;
    }
    .header .hd-search-menu .container button{
        font-size: 12px;
        width: 90px;
        height: 36px;
    }   

    .footer .container{
        gap: 38px;
        justify-content: space-between;
    }
    .footer .container .ftr-card{
        width: 28%;
        font-size: 14px;
    }
    .footer .container .ftr-about .mobile-info{
        gap: 14px;
        margin-bottom: 35px;
    }
    .footer .container .ftr-about p{
        font-size: 11px
    }
    .footer .container .ftr-job .ftr-job-title{
        font-size: 18px;
    }
}

@media (min-width: 1000px) and (max-width: 1200px){
    .container{
        width: 75%;
    }
    .header .header-category ul li{
        width: 48%;
    }
    .header .hd-search-menu .container .search-selects .slcs{
        width: 49%;
    }
    .header .header-top .container{
        font-size: 12px;
    }
    .header .header-top .header-top-nav{
        gap: 18px;
    }
    .header .header-top .header-select ul li{
        width: 100%;
        padding: 8px;
    }
    .header .header-bottom .container{
        gap: 40px;
    }
    .header .header-bottom .logo{
        font-size: 48px;
    }
    .header .header-bottom .hb-nav{
        margin-top: 20px;
    }
    .header .header-bottom .hb-nav nav{
        gap: 30px;
        font-size: 15px;
    }
    .header .header-bottom .hb-nav nav ul{
        gap: 20px;
        height: 72px;
    }
    .header .header-bottom .hb-nav nav ul li a{
        height: 100%;
        padding: 0 16px;
    }
    .header .header-bottom .hb-nav nav button{
        font-size: 15px;
        padding: 14px 18px;
    }
    .header .header-category ul li span{
        width: 40px;
    }
    .header .header-category ul li a{
        font-size: 15px;
    }
    .header .hd-search-menu .container .search-selects .slcs label{
        font-size: 14px;
    }
    .header .hd-search-menu .container .search-selects .slcs select, input{
        height: 40px;
        padding: 0 15px;
        font-size: 16px;
    }
    .header .hd-search-menu .container button{
        font-size: 14px;
        width: 90px;
        height: 36px;
    }

    .footer .container{
        gap: 38px;
        justify-content: space-between;
    }
    .footer .container .ftr-card{
        width: 28%;
        font-size: 14px;
    }
    .footer .container .ftr-about .mobile-info{
        gap: 14px;
        margin-bottom: 35px;
    }
    .footer .container .ftr-about p{
        font-size: 11px
    }
    .footer .container .ftr-job .ftr-job-title{
        font-size: 18px;
    }
}

@media (min-width: 1200px) and (max-width: 1400px){
    .container{
        width: 70%;
    }
    .header .header-category ul li{
        width: 48%;
    }
    .header .hd-search-menu .container .search-selects .slcs{
        width: 49%;
    }
}